<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kb.challenge.mapper.ChallengeMapper">
    <resultMap id="availableChallenge" type="com.kb.challenge.dto.ChallengeCategory">
        <id property="ccNo"             column="CC_NO" />
        <result property="ccName"       column="CC_NAME"/>
    </resultMap>

    <select id="getAllChallenges" resultMap="availableChallenge">
        SELECT CC_NO, CC_NAME
        FROM Challenge_category CC
    </select>

    <select id="getTeamNumber" resultType="Integer">
        SELECT TEAM_NO
        FROM Team
        WHERE TEAM_NAME=#{teamName}
    </select>


    <insert id="createTeam" parameterType="com.kb.challenge.dto.ChallengeTeamDTO">
        INSERT INTO Team (TEAM_NAME, TEAM_START, TEAM_END)
        VALUES(#{teamName}, #{teamStart}, #{teamEnd});
    </insert>

    <insert id="createTeamUser" parameterType="com.kb.challenge.dto.ChallengeTeamUser">
        INSERT INTO TeamUser (CH_POINT, QZ_POINT, CH_TOTAL, TEAM_NO, USER_NO)
        VALUES(#{chPoint}, #{qzPoint}, #{chTotal}, #{teamId}, #{userId});
    </insert>

    <insert id="createChallenge" parameterType="com.kb.challenge.dto.Challenge">
        INSERT INTO Challenge (CC_NO, TEAM_NO, CH_START, CH_END, CH_LIMIT)
        VALUES(#{ccNo}, #{teamNo}, #{chStart}, #{chEnd}, #{chLimit});
    </insert>

    <update id="updatePrice" parameterType="com.kb.challenge.dto.ChallengeDTO">
        UPDATE Challenge
        SET CC_NO = #{ccNo}, CH_LIMIT= #{chLimit}
        WHERE TEAM_NO = #{teamNo};
    </update>

</mapper>