<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.kb.team.mapper.TeamMapper">
    <resultMap id="teamMembers" type="com.kb.team.dto.TeamMember">
        <id property="teamNo"           column="TEAM_NO"/>
        <result property="userNo"       column="USER_NO"/>
        <result property="userName"     column="USER_NAME"/>
        <result property="userImg"      column="USER_IMG"/>
        <result property="challengePoint" column="CH_POINT"/>
        <result property="qzPoint"      column="QZ_POINT"/>
        <result property="totalPoint"   column="CH_TOTAL"/>
    </resultMap>

    <resultMap id="curChallenge" type="com.kb.team.dto.CurChallenge">
        <id property="teamNo"           column="TEAM_NO"/>
        <result property="ccNo"       column="CC_NO"/>
        <result property="ccName"     column="CC_NAME"/>
        <result property="price"      column="CH_LIMIT"/>
        <result property="start" column="CH_START"/>
        <result property="end"      column="CH_END"/>
    </resultMap>

    <resultMap id="teamRank" type="com.kb.team.dto.TeamRank">
        <id property="teamNo"           column="TEAM_NO"/>
        <result property="userName"     column="USER_NAME"/>
        <result property="challengePoint" column="CH_POINT"/>
        <result property="qzPoint"      column="QZ_POINT"/>
        <result property="totalPoint"   column="CH_TOTAL"/>
    </resultMap>
    
    <resultMap id="teamHistory" type="com.kb.team.dto.TeamHistory">
        <id property="teamNo"           column="TEAM_NO"/>
        <result property="userName"     column="USER_NAME"/>
        <result property="cardNo"       column="CARD_NO"/>
        <result property="userNo"       column="USER_NO"/>
        <collection property="cardUsages" ofType="com.kb.team.dto.CardUsage">
            <id property="historyNo"           column="HISTORY_NO"/>
            <result property="historyDate"       column="HISTORY_DATE"/>
            <result property="price"       column="PRICE"/>
            <result property="category"       column="HISTORY_CATEGORY"/>
        </collection>
    </resultMap>
    
    <select id ="getTeamMembers" resultMap="teamMembers">
        SELECT T.TEAM_NO,
               U.USER_NO,
               U.USER_NAME,
               U.USER_IMG,
               T.CH_POINT,
               T.QZ_POINT,
               T.CH_TOTAL
        FROM TeamUser T
        JOIN User U ON T.USER_NO=U.USER_NO
        WHERE T.TEAM_NO=#{teamId}
    </select>

    <select id ="getTeamRanks" resultMap="teamRank">
        SELECT T.TEAM_NO,
               U.USER_NAME,
               T.CH_POINT,
               T.QZ_POINT,
               T.CH_TOTAL
        FROM TeamUser T
        JOIN User U ON T.USER_NO=U.USER_NO
        WHERE T.TEAM_NO=#{teamId}
        ORDER BY T.CH_TOTAL DESC;
    </select>
    
    <select id="getCurChallenge" resultType="com.kb.team.dto.CurChallenge">
        SELECT C.TEAM_NO,
               C.CC_NO,
               CC_NAME,
               CH_LIMIT,
               CH_START,
               CH_END
        FROM Challenge C
        JOIN Challenge_category CC ON C.CC_NO=CC.CC_NO
        WHERE C.TEAM_NO=#{teamId}
    </select>


    <select id="getTeamMembersIds" resultType="Integer">
        SELECT USER_NO
        FROM TeamUser
        WHERE TEAM_NO=#{teamId}
    </select>

    <select id="getCardNo" resultType="Integer">
        SELECT CARD_NO
        FROM Card
        WHERE USER_NO=#{userId};
    </select>

    <select id="getCardUsage" resultType="com.kb.team.dto.CardUsage">
        SELECT HISTORY_NO, HISTORY_DATE, PRICE, HISTORY_CATEGORY
        FROM BuyHistory
        WHERE CARD_NO=#{cardNo}
    </select>

    <select id="getUserName" resultType="string">
        SELECT USER_NAME
        FROM User
        WHERE USER_NO=#{userId};
    </select>
</mapper>